p {
    margin: 30px 15px;
    padding: 20px 14px;
    border: solid 20px;
}

h1 {
    border-style: solid;
    border-width: 20px;
    border-top-color: green;
    border-bottom-color: orange;
}



/*Margin e Padding:

1.Todos os lados separados:
*Se for o mesmo valor irá ter repetição(evite)

margin-top: 30px;
margin-bottom: 30px;
margin-left: 30px;
margin-right: 30px;

padding-top: 30px;
padding-bottom: 30px;
padding-left: 30px;
padding-right: 30px;

2.Valores separados numa linha só:
*Nesse caso, o sentido dos valores é horário, isto é, cima-direita-baixo-esquerda

margin: 30px 15px 30px 15px;

padding: 20px 9px 19px 3px

3.Mesmo valor em todos os lados:(forma abreviada)
margin: 30px;

padding: 20px

4.Mesmo valor para cada lado agrupado:
*O primeiro valor refere-se a cima-baixo e o segundo esquerda-direita.(forma abreviada)

margin: 30px 15px;

padding: 20px 19px

*Opte sempre pela forma abreviada, menos quando houver valores diferentes*/